[Unit]
Description=Jupyter notebook
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/vagrant/.pyenv/shims/jupyter lab --port=3000 --no-browser --NotebookApp.allow_origin='https://cloud9-pycaret'
#PIDFile=/var/run/jupyter-notebook.pid
TimeoutStartSec=3600
LimitNOFILE=49152
WorkingDirectory=/home/vagrant
User=vagrant
Group=vagrant
Restart=always

[Install]
WantedBy=multi-user.target
